@import url("fonts/fonts.css");

*
{
	margin: 0;
	padding: 0;
}

body
{
	background-color: #111111;
	background-image: url("bg.png");
	font-family: "Roboto";
	font-weight: 300;
	border-top: 5px solid #FFCC00;
	overflow: hidden;
}

a
{
	color: inherit;
	text-decoration: none;
}

#header
{
	color: #FFCC00;
	text-align: center;
	margin-bottom: 10px;
}

	#header h1
	{
		font-family: "League Gothic";
		font-size: 7em;
	}

	#header p
	{
		font-family: "Ostrich Sans";
		font-size: 3em;
		margin-top: -0.5em;
	}

		#header p a:hover
		{
			color: #FFFF00;
		}

#navigation
{
	float: left;
	color: #CCCCCC;
}

	#navigation ul
	{
		list-style-type: none
	}

		#navigation ul li
		{
			border-left: 3px solid transparent;
			padding: 5px;
			-webkit-transition: all 0.3s;
			-moz-transition: all 0.3s;
			transition: all 0.3s;
		}

		#navigation ul li:hover
		{
			color: #FFCC00;
			border-left: 3px solid #FFCC00;
			padding-left: 15px;
		}

#bodySection
{
	background-color: #FFFFFF;
	/*background-image: url("Light Gray.png");*/
	color: #000000;
	font-size: 1.2em;
	line-height: 1.4em;
	border: 5px solid #FFCC00;
	box-shadow: inset 0 0 10px #000000;
	margin: 0 20px 0 180px;
	padding: 1em;
	margin-bottom: -9001em;
	padding-bottom: 9001em;
}

	#bodySection p
	{
		text-indent: 1em;
	}